{{!-- this is where user Blogs/builds a blog --}}
<form id="add-Blog-form" style="display: none;">
    <div class="d-grid gap-2 col-6 mx-auto">
  <h4>Title</h4>
  <input class="form-control" id="blog-title" type="text" placeholder="Enter your blog title" aria-label=".form-control-lg example">
  </br>
  <h4>Copy</h4>
  <textarea class="form-control" id="blog-copy" rows="3" placeholder="Enter your blog copy"></textarea>
  </div>
  </br>
  <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-warning" type="submit">SAVE BLOG</button>
  </div>
</form>

<script src="/js/add.js"></script>